@model WebApplication1.Models.Schedules.EditScheduleViewModel
@{
    ViewData["Title"] = "Редактиране на програма";
}
<main>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title" class="">Заглавие</label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Summary" class="">Резюме</label>
            <input asp-for="Summary" class="form-control"  />
            <span asp-validation-for="Summary" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="">Съдържание</label>
            <input asp-for="Content" class="form-control"  />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="ByteImage"/>
        <br />
        <div class="form-group">
            <img src="data:image;base64,@(Convert.ToBase64String(Model.ByteImage))" style="border-radius:1rem;max-width:250px;max-height:250px" />
            <br />
            <input asp-for="ImageFile" class="form-control" accept="image/*" type="file" />
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="">Категория</label>
            <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId">
                <option>Моля изберете категория</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Готово</button>
    </form>
</main>

<style>
    main {
        margin: 3% 5% 0 5%;
    }
</style>
