@{
	ViewData["Title"] = "За нас";
}
<main>
	<h2>За нас</h2>
	<h5>¨Свобода¨ е уебсайт разработен от ученик с цел улесняване достъпа до терапии и програми свързани с пристрастеността.</h5>
</main>
<style>
	main{
		margin:10% 20% 0 20%;
	}
</style>
